
.m-0 {
    background-color: #30e2c5;
    font-family: 'Georgia', Times, serif;
}

.col {
    background-color: #17c7b8;
    font-family: 'Georgia', Times, serif;
}

.card-title{
    font-weight: bolder;
}


